.citySearch__container {
  display: flex;
  align-items: center;
  height: 60px;
}
.navbar-select {
  height: 34px;
  font-size: 13px;
}

.search-submit {
  height: 34px;
  font-size: 20px;
  margin-left: 6px;
}

.search-header {
  color: #ff9505;
  padding-right: 7px;
}
