/* TODO Add site wide styles */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  font-family: Quicksand;
}
/*smartphone*/
@media screen and (min-width: 1025px) {
}
/*tablet*/
@media screen and (min-width: 480px) and (max-width: 1024px) {
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.9em;
    /* height: auto; */
    width: 30vw;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 4px 8px 25px rgba(0, 0, 0, 0.5);
    padding: 5px;
  }

  input {
    border: none;
    border-bottom: 1px solid black;
    height: 80%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: 10px;
  }

  button {
    font-size: 1.9em;
    width: 20%;
    height: 5%;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
  }

  button:hover {
  }
}
/*desktop*/
@media screen and (min-width: 1025px) {
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 5vw;
    /* height: auto; */
    width: 30vw;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 4px 8px 25px rgba(0, 0, 0, 0.5);
    padding: 5px;
  }

  input {
    border: none;
    border-bottom: 1px solid black;
    height: 80%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: 10px;
  }

  button {
    font-size: 3vw;
    width: 20%;
    height: 5%;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
  }

  button:hover {
  }
}
