.userdash__container{
    min-height: 100vh;
    display: flex;
    grid-template: auto lfr auto / auto lfr auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.glass{
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(to right top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 20px;
    display: flex;


}
.userdash__title{
    padding: 1rem;
    grid-column: 2/ 4;
    border-bottom: 3px solid black;
}
.userdash__user-profile{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    padding-top: 65px;
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
}

#user-profile-pic{
    border-radius: 50%;
    height: 250px;
}

.userdash__features{
    flex:2;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.city-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 125%;
    width:88%;
    margin-left: 50px;
    font-size: 20px;
    border: 2px solid rgba(0, 0, 0, 0.025);
    border-radius: 10px;
    background-color:rgba(255, 255, 255, 0.5);

}

select {
    font-size: 20px;
    background-color:rgba(255, 255, 255, 0.5);
    font-family: cursive;
    padding: 7px 40px 7px 12px;
    border: 1px solid rgba(0, 0, 0, 0.025);
    background-color:white;
    box-shadow: 0 1px 3px -2px #9098A9;
    border-radius: 5px;
    cursor: pointer;
    height: 30%;
    width: 500px;
    transition: all 150ms ease;

}

.userdash__search-submit {
    width: 500px;
    margin-top: 10px;
}

.userdash__review-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    height: 50%;
    width: 100%;
    margin-right: 10px;
}



.userdash__appt-upcoming{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.userdash__appointments-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25%;
    width:85%;
    margin-left: 50px;
    font-size: 20px;
    border: 2px solid rgba(0, 0, 0, 0.025);
    border-radius: 10px;
    background-color:rgba(255, 255, 255, 0.5);
    padding: 20px;
    overflow-x: hidden;
}


.userdash__appt-upcoming{
    background-color: white;
    padding: 10px;
}

.user-profile-pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}
