.shop-profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border: 2px solid rgba(0, 0, 0, 0.025);
  box-shadow: 5px 4px 25px black;
  background-color: rgba(0, 0, 0, 0.5);
  height: 764px;
  width: 505px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.shop-pic {
  height: 50%;
  background-image: url("../../projectpics/bbshopPic1.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.info-container {
  height: 31%;
  background-color: rgba(255, 255, 255, 0.5);
  padding-left: 4px;
}

.appt-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 250px;
  font-size: 20px;
  align-self: center;
  font-family: cursive;
  border-radius: 15px;
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  text-decoration: none;
}
.review-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 250px;
  font-size: 20px;
  align-self: center;
  font-family: cursive;
  color: black;
  border-radius: 15px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
  text-decoration: none;
}

.feature-links__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
