.app-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 25vw;
  padding: 10px;
}

.calendar {
  font-size: 25px;
  cursor: pointer;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: red;
  border: 2px solid white;
}

.appt-labels {
  font-size: 20px;
}

.booking-button {
  font-size: 20px;
  margin-top: 4px;
  width: 250px;
  border-radius: 5px;
  height: 40px;
}

.name-inputs {
  font-size: 30px;
}

.app-title {
  font-size: 29px;
}

.first-name,
.last-name {
  height: 35px;
  font-size: 26px;
}
