.review-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.025);
    box-shadow: 5px 4px 4px black;
    background-color:rgba(255, 255, 255, 0.5) ;
    height:100%;
    width: 95%;
    font-family: cursive;
    overflow-x: hidden;
    overflow-y:scroll;
}

.rev-quote-block {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    background-color: white;
    width: 50%;
    height: 55%;
    box-shadow: 5px 4px 15px rgba(0, 0, 0, 0.25);
    margin-bottom: 8px;

}

.edit-button,
.delete-button {
    margin: 5px;
    cursor: pointer;
}

.edit-button:hover,
.delete-button:hover {
    background-color: red;
}
