.review-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.025);
    box-shadow: 5px 4px 4px black;
    background-color:rgba(255, 255, 255, 0.5) ;
    height:100%;
    width: 75%;
    font-family: cursive;
    overflow-x: hidden;
    overflow-y:scroll;
}

.rev-quote-block {
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    background-color: white;
    width: 50%;
    height: 31%;
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 0;
    box-shadow: 5px 4px 15px rgba(0, 0, 0, 0.25);

}
